services:
  pontus-mail:
    build: .
    container_name: pontus-mail
    restart: always
    ports:
      - "2424:3000"
    volumes:
      - ./donations.json:/usr/src/app/donations.json
    environment:
      - NODE_ENV=production