services:
  pontus-mail:
    build: .
    container_name: pontus-mail
    restart: always
    ports:
      - "80:3000"
    volumes:
      - ./register.log:/usr/src/app/register.log
      - ./exclusions.json:/usr/src/app/exclusions.json
    environment:
      - NODE_ENV=production