services:
  pontus-mail:
    build: .
    container_name: pontus-mail
    restart: always
    ports:
      - "2424:3000"
    volumes:
      - ./register.log:/usr/src/app/register.log
      - ./exclusions.json:/usr/src/app/exclusions.json
      - ./donations.json:/usr/src/app/donations.json
    environment:
      - NODE_ENV=production
      - DB_HOST=pontus-mail-db
      - DB_USER=root
      - DB_PASSWORD=mysqlrootpasswdhere
      - DB_NAME=pontusmail
  pontus-mail-db:
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=mysqlrootpasswdhere
      - MYSQL_DATABASE=pontusmail
    ports:
      - "3306:3306"
    volumes:
      - ./db:/var/lib/mysql