<h1><i class="fa-solid fa-envelope text-dark ico"></i> p0ntus mail.</h1>
<h3>simple, mindful, secure email.</h3>
<nav class="nav justify-content-center">
    <% if (currentPage === 'home') { %>
        <span class="nav-link text-dark"><b>Home</b></span>
    <% } else { %>
        <a href="/" class="nav-link text-dark">Home</a>
    <% } %>
    <% if (currentPage === 'services') { %>
        <span class="nav-link text-dark"><b>Services</b></span>
    <% } else { %>
        <a href="/services" class="nav-link text-dark">Services</a>
    <% } %>
    <a href="https://status.p0ntus.com/" class="nav-link text-dark">Status</a>
    <% if (currentPage === 'register') { %>
        <span class="nav-link text-dark"><b>Register</b></span>
    <% } else { %>
        <a href="/register" class="nav-link text-dark">Register</a>
    <% } %>
    <% if (currentPage === 'donate') { %>
        <span class="nav-link text-dark"><b>Donate</b></span>
    <% } else { %>
        <a href="/donate" class="nav-link text-dark">Donate</a>
    <% } %>
    <% if (currentPage === 'privacy') { %>
        <span class="nav-link text-dark"><b>Privacy</b></span>
    <% } else { %>
        <a href="/privacy" class="nav-link text-dark">Privacy</a>
    <% } %>
    <% if (currentPage === 'guides') { %>
        <span class="nav-link text-dark"><b>Guides</b></span>
    <% } else { %>
        <a href="/guides" class="nav-link text-dark">Guides</a>
    <% } %>
    <% if (currentPage === 'request') { %>
        <span class="nav-link text-dark"><b>My Request</b></span>
    <% } else { %>
        <a href="/request" class="nav-link text-dark">My Request</a>
    <% } %>
    <% if (currentPage === 'admin') { %>
        <span class="nav-link text-dark"><b>Admin</b></span>
    <% } %>
</nav>