<%- include('../../shards/header', { title: 'Creating an Account - p0ntus mail' }) %>
<div class="container">
    <%- include('../../shards/nav', { currentPage: 'guides' }) %>
    <i class="il mt-5">Creating an Account</i>
    <hr>
    <div class="text-start">
        <h4 class="mb-3">Signing in</h4>
        <a href="/img/webmail_signin.png" data-bs-toggle="lightbox" data-bs-max-width="100%">
            <img src="/img/webmail_signin.png" class="img-fluid img-thumbnail" alt="Webmail/User Control Panel Login">
        </a>
        <p class="mt-2">Signing in is extremely simple. Just input the email and password you signed up for (or <a href="https://user.pontusmail.org/admin/user/signup">sign up for an account</a>), and click which application you would like to sign in to.</p>
        <p class="mt-3">This can either be the "Admin," which is your account settings or "Webmail" which takes you to Roundcube, our webmail provider.</p>
        <p class="mt-3">Since you're interested in the user dashboard, click on "Sign in Admin" to continue.</p>
        <h4 class="mb-3">Using the User Dashboard</h4>
        <a href="/img/mail_home.png" data-bs-toggle="lightbox" data-bs-max-width="100%">
            <img src="/img/mail_home.png" class="img-fluid img-thumbnail" alt="Webmail Login">
        </a>
        <p class="mt-2">Once you are signed in, you can use the user dashboard to manage your account. You can change your password and do other account actions on the sidebar. There are also links to Mailu help, their website, a link to logout, and more.
        <p class="mt-2">You can also view and change account information on the home page such as your name and anti-spam configuration.</p>
        <h4>Logging out</h4>
        <p>When you are done, click the "Sign out" link on the sidebar.</p>
        <h4>See also</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/guides/user/password-change">Changing your password</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/user/external-accounts">Adding external accounts</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/user">Using the User Dashboard</a>
            </li>
        </ul>
        <a href="/guides" class="btn btn-dark mt-3">
            <i class="fa-solid fa-arrow-left"></i> Back to Guides
        </a>
    </div>
</div>
<%- include('../../shards/footer') %>