<%- include('../../shards/header', { title: 'Adding External Accounts - p0ntus mail' }) %>
<div class="container">
    <%- include('../../shards/nav', { currentPage: 'guides' }) %>
    <i class="il mt-5">Adding External Accounts</i>
    <hr>
    <div class="text-start">
        <h4 class="mb-3">Navigate to the User Dashboard</h4>
        <p class="mt-2">First, go to your <a href="https://user.pontusmail.org/admin/user/settings">user dashboard</a>, and click on the "Fetched accounts" option on the sidebar of the page.</p>
        <h4 class="mb-3">External Accounts</h4>
        <a href="/img/mail_fetched_accounts.png" data-bs-toggle="lightbox" data-bs-max-width="100%">
            <img src="/img/mail_fetched_accounts.png" class="img-fluid img-thumbnail" alt="Fetched/External Accounts Listing Screen">
        </a>
        <p class="mt-2">Once you have navigated to this page, you will now be able to view all of your current external/fetched accounts.</p>
        <p class="mt-2">External accounts, also known as "fetched accounts," offers you a way to check other emails you might own <i>from your p0ntus mail</i>. This can be done by configuring a fetched account in your user dashboard.</p>
        <p class="mt-2">To add a new fetched account, click the "Add an account" button and continue on to the next section.</p>
        <h4>Adding an External Account</h4>
        <a href="/img/mail_fetched_accounts_add.png" data-bs-toggle="lightbox" data-bs-max-width="100%">
            <img src="/img/mail_fetched_accounts_add.png" class="img-fluid img-thumbnail" alt="Fetched/External Accounts Listing Screen">
        </a>
        <p class="mt-2">Next, input your email account details. You can get most of the required fields from your email service provider. Some "generally good" options have been provided in the screenshot above.</p>
        <p class="mt-2">Once you are done configuring the fetched/external account settings, you can click "Submit" to add it to your account.</p>
        <p class="mt-2">If you are interested in our privacy guidelines surrounding fetched/external email accounts, please see <a href="https://pontusmail.org/privacy">our human-readable page on privacy</a> for more details!</p>
        <h4>See also</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/guides/user/password-change">Changing your password</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/user">Using the User Dashboard</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/user/create-account">Creating an account</a>
            </li>
        </ul>
        <a href="/guides" class="btn btn-dark mt-3">
            <i class="fa-solid fa-arrow-left"></i> Back to Guides
        </a>
    </div>
</div>
<%- include('../../shards/footer') %>