<%- include('../../shards/header', { title: 'Changing your Password - p0ntus mail' }) %>
<div class="container">
    <%- include('../../shards/nav', { currentPage: 'guides' }) %>
    <i class="il mt-5">Changing your Password</i>
    <hr>
    <div class="text-start">
        <h4 class="mb-3">Navigate to the User Dashboard</h4>
        <p class="mt-2">First, go to your <a href="https://user.pontusmail.org/admin/user/settings">user dashboard</a>, and click on the "Update Password" option on the sidebar of the page.</p>
        <h4 class="mb-3">Updating the Password</h4>
        <a href="/img/mail_update_password.png" data-bs-toggle="lightbox" data-bs-max-width="100%">
            <img src="/img/mail_update_password.png" class="img-fluid img-thumbnail" alt="Update Password Screen">
        </a>
        <p class="mt-2">Next, simply fill in the fields with your existing password and your desired new password. The password will be updated for you system-wide.</p>
        <h4>I don't know my old password!</h4>
        <p class="mb-3">You may submit a password reset request to <a href="mailto:aidan@p0ntus.com">aidan[at]p0ntus.com</a>, and your request will be reviewed. Please provide as much proof as possible you are the account owner.</p>
        <p class="mb-3">Some requests will have a hold placed on them which can take additional time. Please know this time is being well spent to determine the rightful account owner.</p>
        <h4>See also</h4>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/guides/user">Using the User Dashboard</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/user/external-accounts">Adding external accounts</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/user/create-account">Creating an account</a>
            </li>
        </ul>
        <a href="/guides" class="btn btn-dark mt-3">
            <i class="fa-solid fa-arrow-left"></i> Back to Guides
        </a>
    </div>
</div>
<%- include('../../shards/footer') %>