<%- include('../shards/header', { title: '404 Not Found - p0ntus mail' }) %>
<div class="container">
  <i class="il mt-2">404 Not Found</i>
  <hr>
  <p>The requested resource could not be found.</p>
</div>
<%- include('../shards/footer') %>