<%- include('../shards/header', { title: '500 Internal Server Error - p0ntus mail', currentPage: 'err' }) %>
<div class="container">
  <i class="il mt-2">500 Internal Server Error</i>
  <hr>
  <p>An unexpected error occurred. Please try again later.</p>
</div>
<%- include('../shards/footer') %>