<%- include('../shards/header', { title: 'Request Status - p0ntus mail' }) %>
<div class="container">
  <i class="il mt-2">We need your email</i>
  <hr>
  <p class="mt-4 mb-4">We need an email to check your request. Please enter your p0ntus mail email address below:</p>
  <form action="/request" method="get">
    <div class="form-group">
      <label class="mb-2" for="email">p0ntus mail email address:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>
<%- include('../shards/footer') %>