<%- include('../shards/header', { title: "Couldn't find that email - p0ntus mail", currentPage: 'err' }) %>
<div class="container">
  <i class="il mt-2">We couldn't find that email</i>
  <hr>
  <p>We couldn't find a request under <b><%= email %>@<%= domain %></b>. Please try again later or try and register again.</p>
</div>
<%- include('../shards/footer') %>