<%- include('shards/header', { title: 'Guides - p0ntus mail' }) %>
    <div class="container">
        <%- include('shards/nav', { currentPage: 'guides' }) %>

        <i class="il mt-5">Vaultwarden</i>
        <hr>
        <ul class="list-group text-start">
            <li class="list-group-item">
                <a href="/guides/vaultwarden/android">Using Vaultwarden on Android</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/vaultwarden/firefox">Using Vaultwarden on Firefox</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/vaultwarden/chrome">Using Vaultwarden on Chrome</a>
            </li>
        </ul>

        <i class="il mt-5">Email</i>
        <hr>
        <ul class="list-group text-start">
            <li class="list-group-item">
                <a href="/guides/email">Using the Webmail</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/email/thunderbird">Setting up Thunderbird</a>
            </li>
        </ul>

        <i class="il mt-5">User Dashboard</i>
        <hr>
        <ul class="list-group text-start">
            <li class="list-group-item">
                <a href="/guides/user">Using the User Dashboard</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/user/password-change">Changing your password</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/user/external-accounts">Adding external accounts</a>
            </li>
            <li class="list-group-item">
                <a href="/guides/user/create-account">Creating an account</a>
            </li>
        </ul>
    </div>
<%- include('shards/footer') %>