<%- include('shards/header', { title: 'Guides - p0ntus mail' }) %>
    <div class="container">
        <%- include('shards/nav', { currentPage: 'guides' }) %>

        <i class="il mt-5">Vaultwarden</i>
        <hr>
        <ul class="list-group text-start">
            <li class="list-group-item"><a href="/guides/vaultwarden/chrome">Using Vaultwarden on Chrome</a></li>
            <li class="list-group-item"><a href="/guides/vaultwarden/firefox">Using Vaultwarden on Firefox</a></li>
            <li class="list-group-item"><a href="/guides/vaultwarden/android">Using Vaultwarden on Android</a></li>
        </ul>

        <i class="il mt-5">Webmail</i>
        <hr>
        <ul class="list-group text-start">
            <li class="list-group-item"><a href="/guides/webmail">Using the Webmail</a></li>
        </ul>

        <i class="il mt-5">User Dashboard</i>
        <hr>
        <ul class="list-group text-start">
            <li class="list-group-item"><a href="/guides/user">Using the User Dashboard</a></li>
        </ul>
    </div>
<%- include('shards/footer') %>