<%- include('shards/header', { title: 'p0ntus mail' }) %>
    <div class="container">
        <%- include('shards/nav', { currentPage: 'home' }) %>
        <i class="il mt-5">Welcome to p0ntus mail</i>
        <hr>
        <p>Hello, and thanks for checking our my personal email server.</p>
        <p>If you're just curious, check out the "Services" page. If you'd like to sign up, simply use the "Register" link.</p>
        <i class="il mt-5">Where can I direct your request?</i>
        <hr>
        <div class="row">
            <div class="col-md-6 text-start">
                <h5><i>If you aren't a current user</i></h5>
                <a href="/register" class="btn bg-dark text-white mt-2"><i class="fa-solid fa-user-plus ico-sm"></i> Register</a>
            </div>
            <div class="col-md-6 text-start">
                <h5><i>If you are a current user</i></h5>
                <a href="/SOGo" class="btn bg-dark text-white mt-2"><i class="fa-solid fa-envelope ico-sm"></i> Webmail</a>
                <a href="https://user.p0ntus.com" class="btn bg-dark text-white mt-2"><i class="fa-solid fa-user ico-sm"></i> Account</a>
                <a href="https://vaultwarden.p0ntus.com" class="btn bg-dark text-white mt-2"><i class="fa-solid fa-key ico-sm"></i> Vaultwarden</a>
            </div>
        </div>
<%- include('shards/footer') %>