<%- include('shards/header', { title: 'Registration Successful - p0ntus mail' }) %>
<div class="container">
  <%- include('shards/nav', { currentPage: 'register' }) %>
  <i class="il mt-5">Registration Submitted</i>
  <hr>
  <p>Your request has been submitted successfully. You can check the status of your request <a href="/request">here</a>.</p>
</div>
<%- include('shards/footer') %>