<%- include('shards/header', { title: 'Register - p0ntus mail' }) %>
    <div class="container">
        <%- include('shards/nav', { currentPage: 'register' }) %>
        <i class="il mt-5">Register</i>
        <hr>
        <i>Please contact <a href="mailto:signup@p0ntus.com">signup<i class="fa-solid fa-at"></i>p0ntus.com</a> with the following info:</i>
        <ul class="list-group mt-3">
            <li class="list-group-item">Name that goes in email header (full name/username/alias)</li>
            <li class="list-group-item">Desired email address (e.g., yourname@p0ntus.com)</li>
            <li class="list-group-item">Reason for wanting an email</li>
            <li class="list-group-item">Telegram username</li>
        </ul>
    </div>
<%- include('shards/footer') %>