<%- include('shards/header', { title: 'Register - p0ntus mail' }) %>
<div class="container">
    <%- include('shards/nav', { currentPage: 'register' }) %>
    <h1 class="mt-5">Register</h1>
    <hr>
    <form action="/register" method="POST">
        <div class="form-group">
            <label for="fullName">Name that goes in email header (full name/username/alias)</label>
            <input type="text" class="form-control" id="fullName" name="fullName" required>
        </div>
        <div class="form-group">
            <label for="email">Desired email address (e.g., yourname@p0ntus.com)</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="reason">Reason for wanting an email</label>
            <textarea class="form-control" id="reason" name="reason" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="telegram">Telegram username</label>
            <input type="text" class="form-control" id="telegram" name="telegram" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
</div>
<%- include('shards/footer') %>