<%- include('shards/header', { title: 'Services - p0ntus mail' }) %>
    <div class="container">
        <%- include('shards/nav', { currentPage: 'services' }) %>
        <i class="il mt-5">What we do</i>
        <hr>
        <p class="text-start">p0ntus mail is an email server I personally host ana manage, avaliable free of charge to the public. p0ntus mail is free, and powered by user donations.</p>
        <p class="text-start">Here is what we have to offer you:</p>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-database ico-sm"></i> Storage</h5>
                        <p class="card-text">Each user gets 4 GB of storage, which can be increased upon request.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-dollar-sign ico-sm"></i> Free</h5>
                        <p class="card-text">p0ntus mail is and will always be free of charge.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-ban ico-sm"></i> Spam Protection</h5>
                        <p class="card-text">We use RSPAMD for spam protection, to ensure your inbox stays clean.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-server ico-sm"></i> Personally Managed</h5>
                        <p class="card-text">p0ntus mail is personally managed and monitored for maximum uptime.</p>
                    </div>
                </div>
            </div>
        </div>
        <i class="il mt-3">What you get</i>
        <hr>
        <p>Upon creating your account, you will be allocated an account with the following:</p>
        <ul class="list-group text-start">
            <li class="list-group-item">4000 MB storage</li>
            <li class="list-group-item">Webmail access</li>
            <li class="list-group-item">IMAP/SMTP access (soon)</li>
            <li class="list-group-item">Spam protection</li>
            <li class="list-group-item">5 outgoing messages per hour</li>
        </ul>
        <p class="text-start mt-3">You may request for additional storage, or increased account limits by contacting <a href="mailto:admin@p0ntus.com">admin<i class="fa-solid fa-at p"></i>p0ntus.com</a>. We operate under a "fair use" policy.</p>
    </div>
<%- include('shards/footer') %>