<%- include('shards/header', { title: 'p0ntus mail' }) %>
    <div class="container">
        <h1><i class="fa-solid fa-check-circle text-success"></i> Success</h1>
        <h3>Your registration request has been submitted</h3>
        <i>Thank you for registering on p0ntus mail. We will get back to you shortly :)</i>
        <hr>
        <a href="/" class="btn bg-dark text-white"><i class="fa-solid fa-home ico-sm"></i> Return to Home</a>
    </div>
<%- include('shards/footer') %>